/* 
ar 81 18 40
ro 18 16 14
 */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --white:#fff;
  --pink:#E76F51;
  --black:#3B3735;
  --peral:#FFD2C6;
  --bdbg:#FAF4F2;
  --whitesmoke:#D2D2D2;
  --ligtgrey:#f3f3f3;
  --grey:#8D8D8D;
  --greypink:#F8E1DB;
  --font16:16px;
  --font18: 18px;
  --font40: 40px;
  --font45: 45px;
  --font81:81px;
  --regular: 400;
  --medium: 500;
  --Bblack:900;
  --primaryfont:"Roboto";
  --secondaryfont: "Archivo";
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--bdbg);
  font-family: "Roboto", "Archivo", sans-serif;
  font-size: var(--font18);
  font-weight: var(--regular);
}
h2,h3{
  font-family: var(--secondaryfont);
  font-weight: var(--Bblack);
}
p{
  font-size: var(--font16);
}
ul{
  list-style: none;
}
a{
  color: var(--white);
  text-decoration: none;
}
.outter{
  margin: 0 auto;
  max-width: 1920px;
}
.inner{
  margin: 0 auto;
  max-width: 1140px;
}
.btn{
  padding: 10px 20px;
  border: 1px solid var(--whitesmoke);
  border-radius: 30px;
}
/* header */
.header{
  position: absolute;
  width: 100%;
  padding-top:10px;
}
.header .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 24px;
}
.header .inner .nav-item1 {
  z-index: 999;
}
.header .inner .nav-item2{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .nav-item2 .list{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.header .nav-item2 li{
  position: relative;
}
.header .nav-item2 li a{
  color: var(--whitesmoke);
}
.header .nav-item2 li::before{
  display: none;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 27px;
  height: 3px;
  background: var(--pink);
  content: '';
  transform: rotate(50deg) translateY(30%);
  border-radius: 5px;
}
.header .nav-item2 li:hover::before{
  display: block;
}
.header .nav-item2 li:hover a{
  color: var(--white);
}
.header .nav-item2 .btn:first-child{
  border-color: transparent;
}
.header #menu-bar{
  display: none;
  padding: 10px 15px;
  background: var(--white);
  border-radius: 10px;
}
/* banner */
.banner{
  padding: 200px 0;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 100px 100px;
}
.banner .banner-container{
  width: 50%;
  margin: 0 auto;
  color: var(--white);
  text-align: center;
}
.banner .banner-container h2{
  font-size: var(--font81);
}
.banner .banner-container p{
  margin: 10px 0 30px;
}
.banner .banner-container .btn{
  padding: 10px 30px;
  border: 0;
  background: var(--pink);
}
/* services */
.services{
  position: relative;
  margin-bottom: 250px;
}
.services .boxes{
  display: flex;
  position: absolute;
  top: -50px;
  justify-content: space-between;
  width: 100%;
}
.services .boxes .box{
  width: calc(95% / 4);
  padding: 30px 25px;
  background: var(--white);
  text-align: center;
  border-radius: 20px;
}
.services .boxes h3{
  margin-bottom: 10px;
  font-size: var(--font18);
}
.services .boxes p{
  color: var(--peral);
  font-size: var(--font18);
}

/* explore */
.explore .top{
  width: 38%;
  margin: 0 auto;
  text-align: center;
}
.explore .top h2{
  margin: 20px 30px;
}
.explore .tours{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}
.explore .tours .tour-box{
  width: calc(calc(100% / 4) - 20px);
  padding: 20px;
  background: var(--white);
  text-align: center;
  border-radius: 25px;
}
.explore .tour-box .img-box{
  position: relative;
}
.explore .tour-box img{
  width: 100%;
  vertical-align: middle;
  border-radius: 25px;
}
.explore .tour-box  span{
  position: absolute;
  bottom: -10%;
  left: 50%;
  padding: 10px 20px;
  background: var(--white);
  color: var(--pink);
  font-size: var(--font16);
  transform: translateX(-50%);
  border-radius: 10px;
}
.explore .tour-box i{
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 5px;
  background: var(--white);
  color: var(--pink);
  border-radius: 7px;
}
.explore .tour-box h3{
  margin: 40px 0 20px;
  font-size: var(--font18);
}

.explore .tour-box p{
  margin-bottom: 30px;
  font-size: var(--font16);
}
.explore .tour-box .btn{
  border: 0;
  background: var(--ligtgrey);
  color: var(--grey);
}
.explore .view.btn{
  display: inline-block;
  width: 100px;
  margin: 0 auto;
  padding: 5px 0;
  color: var(--pink);
  text-align: center;
  border-color: var(--pink);
}

/* .subscribe */
.subscribe{
  margin: 40px 0;
}
.subscribe .inner{
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  padding: 70px 40px 50px 35px;
  background-image: url(../images/Subscribe.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.subscribe .mail-box{
  width: 55%;
}
.subscribe .mail-box h3{
  font-size: var(--font40);
}
.subscribe .mail-box p{
  margin: 20px 0;
}
.subscribe .mail-box input{
  display: block;
  width: 100%;
  padding: 20px 0 20px 60px;
  border: 0;
  outline: none;
  border-radius: 15px;
}
.subscribe .mail-box .mail-input{
  position: relative;
}
.subscribe .mail-box .mail-input::before{
  position: absolute;
  top: 50%;
  left: 5%;
  width: 25px;
  height: 18px;
  background-image: url(../images/mail.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  content: '';
  transform: translateY(-50%);
}
.subscribe .mail-box button{
  position: absolute;
  top: 50%;
  right: 2%;
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  transform: translateY(-50%);
}
.subscribe .sub-img{
  width: 30%;
}
.subscribe img{
  width: 100%;
}

/* footer */
.footer{
  padding: 80px 0 30px;
  background: var(--greypink);
  border-radius: 100px 100px 0 0;
}
.footer .ft-content{
  display: flex;
  justify-content: space-between;
}
.footer .ft-content h3{
  font-size: var(--font18);
}
.footer .ft-content .left{
  width: 36%;
}
.footer .ft-content .left > *{
  margin-bottom: 20px;
}
.footer .ft-content .left > *:last-child{
  margin: 0;
}
.footer .ft-content .right{
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}
.footer .right .r-box a{
  color: var(--black);
  font-size: var(--font16);
}
.footer .r-box h3{
  margin-bottom: 30px;
}
.footer .r-box li{
  margin-bottom: 10px;
}
.footer .r-box li:last-child{
  margin-bottom: 0;
}
.footer .download h3{
  margin-bottom: 20px;
}
.footer span{
  display: block;
  font-size: var(--font16);
  text-align: center;
}
/* sticky */
.footer .inner{
  position: relative;
}
.sticky{
  position: fixed;
  right: 4%;
  bottom: 0;
}
.sticky i{
  padding: 7px 10px;
  background: var(--white);
  color: var(--pink);
  border-radius: 10px;
}
@media screen and (max-width: 576px){
  .inner{
    max-width: 374px;
  }
  /* header */
  .header .inner .nav-item2{
    position: absolute;
    top: -100vh;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 30px 0 50px;
    background: var(--peral);
    transition: all 0.5s ease-in-out 0.5s;
    
  }
  .header .nav-item2 .list{
    flex-direction: column;
    margin: 0 auto;
    gap: 20px 0;
  }
  .header .nav-item2 li{
    text-align: center;
  }
  .header .nav-item2 li a{
    color: var(--Bblack);
  }
  .header .nav-item2 li:hover::before{
    display: none;
  }
  .header .nav-item2 .btn{
    color: var(--black);
    border-color: var(--black);
  }
  .header #menu-bar{
    display: block;
    z-index: 999;
  }
  .header .nav-item2.updown{
   top: 0;
  }
  /* banner */
  
  .banner .banner-container{
    width: 100%;
  }
  .banner .banner-container h2{
    font-size: var(--font45);
  }
  /* services */
  .services{
    position: relative;
  }
  .services .boxes{
    top: -30px;
    flex-direction: column;
    width: 100%;
  }
  .services .boxes .box{
    width: 100%;
    margin-bottom: 20px;
  }
  /* explore */
  .explore{
    margin-top: 1000px;
  }
  .explore .top{
    width: 100%;
  }
  .explore .tours{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 20px;
  }
  .explore .tours .tour-box{
    width: 100%;
  }
  .explore .tours .tour-box:nth-child(4) ~ div {
    display: none;
  }

  /* subscribe */
  .subscribe .inner{
    flex-direction: column-reverse;
    padding: 30px 20px;
    gap: 40px 0;
  }
  .subscribe .mail-box{
    width: 100%;
    text-align: center;
  }
  .subscribe .sub-img{
    width: 100%;
  }
  
  /* footer */
  .footer{
    padding: 80px 0 30px;
  }
  .footer .inner i{
    top: -18%;
    right: 50%;
    transform: translateX(50%);
  }
  .footer .ft-content{
    flex-direction: column;
    margin-bottom: 20px;
    gap: 40px 0;
  }
  .footer .ft-content .left{
    width: 100%;
  }
  .footer .ft-content .right{
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 30px 0;
  }
  .footer .right .r-box{
    width: calc(100% / 2);
  }
  .footer .download{
    margin-bottom: 20px;
  }
  .sticky{
    position: fixed;
    right: 50%;
    bottom: 0;
  }
}